body {
  background-color: #343434;
}

.container {
  position: relative;
  /*width: 80%;
  height: 80%;*/
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /*background: url("../img/EU27-2008_European_Union_map_sub.svg") no-repeat center;*/
  /*background-size: contain;*/
}

.canvas {
  position: absolute;
  top: 0;
}

h1 {
  color: white;
}
