html {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body > div {
  flex-grow: 1;
}

/*#top-bar {
  height: 20px;
  flex-grow: 0.2;
  flex-shrink: 0;
  background-color: black;
}*/

#photo > img {
  width: 100%;
}

#top-image {
  min-height: 100px;
  background: url("/img/anemones-bg-small.png") repeat-x;
  background-size: contain;
}

#bottom-image {
  min-height: 100px;
  background-size: contain;
  background: url("/img/anemones-bg-middle.png") no-repeat bottom;
  background-size: contain;
}

#save-the-date-container {
  padding: 60px 0 60px 0;
  font-style: italic;
  font-family: serif;
}

#address-container {
  background-color: black;
  color: white;
  flex-grow: 0;
  padding: 30px;
}

#address-container > div {
  margin: auto;
  max-width: 250px;
}
